<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
 
</head>

<body class="body">
 <div class="login">
	<h1 class="h1">Country GDP Prediction</h1>
<div>
  <form action="{{ url_for('country')}}"method="post"></form>
  <input type="text"  id="c" name="country" placeholder="Country" required="required" />
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="ipopulation" placeholder="Population" required="required" />
        <div style="width: 48%; height: 100px; float: left;">
          
          <input type="text" name="iarea" placeholder="Area" required="required" />  
          


          <input type="text" name="ipopulation_density" placeholder="Poulation Desity" required="required" />
          <input type="text" name="icoastline" placeholder="Coastline" required="required" />
          <input type="text" name="inet_migration" placeholder="Net Migration" required="required" />
          <input type="text" name="iinfant_mortality" placeholder="Infant Mortality" required="required" />
          <input type="text" name="iliteracy" placeholder="Literacy" required="required" />
          <input type="text" name="iphones" placeholder="Phones" required="required" />
          
        </div>
<div style="margin-left: 49%; height: 100px;">
  <input type="text" name="iarable" placeholder="Arable" required="required" />
  <input type="text" name="icrops" placeholder="Crops" required="required" />
  <input type="text" name="iothers" placeholder="Others" required="required" />
  <input type="text" name="ibirthrate" placeholder="Birth rate" required="required" />
  <input type="text" name="ideathrate" placeholder="Death Rate" required="required" />
  
  
  <input type="text" name="iRegion" list="cars" placeholder="Region" required="required" >
    <datalist id="cars">
      <option value=9>SUB-SAHARAN AFRICA</option>                  
      <option value=4>LATIN AMER. AND CARIB</option>   
      <option value=0>ASIA (EX. NEAR EAST) </option>
      <option value=10>WESTERN EUROPE </option>              
      <option value=8>OCEANIA </option>
      <option value=5>NEAR EAST</option>
      <option value=2>C.W. OF IND. STATES</option>
      <option value=3>EASTERN EUROPE</option>
      <option value=6>NORTHERN AFRICA</option>
      <option value=7>NORTHERN AMERICA</option>
      <option value=1>BALTICS</option>
    </datalist>
  <input type="text" name="climate_label" placeholder="Climate Label" required="required" />
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


 <button type="submit" class="btn btn-primary btn-block btn-large" onclick="country()">Predict</button>
    </form>
  </form>
</div>

<br>

<DIV >{{ prediction_text3 }} {{ prediction_text }}<br>
  {{ prediction_text2 }}</DIV>

 </div>
 <script>
  var checkDiv = setInterval(function(){

    var my_div_width = $("#id1").width(); // find width
    
    if( my_div_width > 0) { 
      clearInterval(checkDiv);
         aTestFunction();
      }
    }, 50); // check after 10ms every time
    
    function country(){
      var a=document.getElementById('c').value
      console.log(a)
      document.getElementById("id1").innerHTML=a
    }
  
 </script>

</script>
</body>
</html>
